.extension {
    background: #043873;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    &__title {
        padding-bottom: 24px;
        background-image: url(../img/exten-line-mb.png);
        background-position-y: 50px;
        background-position-x: 127px;
        background-repeat: no-repeat;
        padding-right: 5px;
        padding-left: 5px;
    }

    p {
        padding: 0 5px 80px;
    }

    &__img {
        padding-top: 80px;
    }
}

@media (min-width:768px) {
    .extension {
        padding-top: 100px;
        padding-bottom: 100px;

        &__title {
            background-image: url(../img/exten-line-tb.png);
            background-position-y: 45px;
            background-position-x: 419px;
            padding-right: 0px;
            padding-left: 0px;
        }

        p {
            padding-right: 0px;
            padding-left: 0px;
        }
    }

}

@media (min-width: 1152px) {
    .extension {
        padding-top: 140px;
        text-align: start;

        &__title {
            background-image: url(../img/exten-line-1152.png);
            background-position-y: 55px;
            background-position-x: 159px;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            gap: 100px;
        }

        &__desc {
            width: 52%;
        }

        &__img {
            padding-top: 0;
            width: 48%;
        }
    }

}

@media (min-width: 1400px) {
    .extension {
        &__title {
            background-image: url(../img/exten-line-1400.png);
            background-position-y: 151px;
            background-position-x: 0px;
            padding-right: 15px;
        }

        &__desc {
            width: 45%;
        }

        &__img {
            padding-top: 0;
            width: 55%;
        }
    }
}

@media (min-width: 1920px) {
    .extension {
        &__title {
            background-image: url(../img/exten-line-1920.png);
            background-position-y: 61px;
            background-position-x: 178px;
            padding-right: 0px;
        }

        &__desc {
            width: 50%;
        }

        &__img {
            padding-top: 0;
            width: 50%;
        }
    }

}