* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "Inter-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dmsans {
  font-family: "DMSans-Medium", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h2-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.22em;
  letter-spacing: -0.72px;
}
.h2-title_white {
  color: #FFF;
}
.h2-title_black {
  color: #212529;
}

.h4-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
}
.h4-title_white {
  color: #FFF;
}
.h4-title_black {
  color: #212529;
}

.text {
  font-size: 18px;
  line-height: 1.6667em;
  letter-spacing: -0.36px;
}
.text_white {
  color: #FFF;
}
.text_black {
  color: #212529;
}

.text-sm {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.text-sm_white {
  color: #FFF;
}

@media (min-width: 768px) {
  .h2-title {
    font-size: 54px;
    letter-spacing: -1.08px;
  }
}
@media (min-width: 1152px) {
  .h2-title {
    font-size: 64px;
    letter-spacing: -1.28px;
  }
}
@media (min-width: 1400px) {
  .h2-title {
    font-size: 72px;
    letter-spacing: -1.44px;
  }
}
@font-face {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter-Regular.woff) format("woff");
}
@font-face {
  font-family: "Inter-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Inter-SemiBold.woff) format("woff2"), url(../fonts/Inter-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Inter-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Inter-Bold.woff) format("woff2"), url(../fonts/Inter-Bold.woff) format("woff");
}
@font-face {
  font-family: "DMSans-Medium", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/DMSans-Medium.woff2) format("woff2"), url(../fonts/DMSans-Medium.woff) format("woff");
}
.header {
  background-color: #043873;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__inset {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: auto;
  background-image: url(../img/logo-white-mob.svg);
  width: 134px;
  height: 24px;
}
.header__btn {
  display: none;
}
.header__mobile-btn_active {
  display: block;
}

@media (min-width: 768px) {
  .header__logo {
    background-image: url(../img/logo-white.svg);
    width: 191px;
    height: 34px;
  }
}
@media (min-width: 1152px) {
  .header__btn {
    display: flex;
    align-items: center;
  }
  .header__btn_yellow {
    background-color: #FFE492;
    color: #043873;
    padding: 18px 40px;
    margin-right: 24px;
  }
  .header__btn_blue {
    padding: 18px 32px;
  }
}
@media (min-width: 1400px) {
  .header__btn {
    order: 2;
  }
}
.menu__btn {
  display: block;
  padding: 0;
  cursor: pointer;
  height: 24px;
  width: 42px;
  position: relative;
  background-color: transparent;
  border: none;
}
.menu__btn span,
.menu__btn span:before,
.menu__btn span:after {
  background: #FFF;
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
}
.menu__btn span:before,
.menu__btn span:after {
  content: "";
}
.menu__btn span:before {
  top: -12px;
}
.menu__btn span:after {
  top: 12px;
}
.menu__btn_active {
  outline: none;
}
.menu__btn_active span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 42px;
}
.menu__btn_active span {
  transform: rotate(-45deg);
  width: 42px;
}
.menu__btn_active span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}
.menu__list {
  padding: 30px 0 50px;
  display: none;
  list-style: none;
  padding-left: 0;
  position: absolute;
  left: 0;
  top: 86px;
  width: 100%;
  background: #043873;
  text-align: center;
}
.menu__list_show {
  display: block;
}
.menu__list li:not(:last-child) {
  margin-bottom: 32px;
}
.menu__list a {
  display: block;
  color: #FFF;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  margin: 0 auto;
}

@media (min-width: 1152px) {
  .menu__btn {
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  .menu__btn {
    display: none;
  }
  .menu__list {
    margin-right: 95px;
    display: flex;
    gap: 51px;
    position: inherit;
    padding: 0;
  }
  .menu__list li:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 1520px) {
  .menu__list {
    gap: 71px;
    margin-right: 135px;
  }
}
.btn {
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}
.btn_blue {
  background-color: #4F9CF9;
  color: #fff;
}
.btn_white {
  border: 1px solid #FFE492;
  background: #FFF;
  color: #212529;
}
.btn_sm {
  padding: 16px 40px;
}
.btn_md {
  padding: 20px 40px;
}

.intro {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #043873;
  background-image: url(../img/into-bg-mb.png);
  background-size: cover;
  background-position-y: -60px;
  background-repeat: no-repeat;
  text-align: center;
}
.intro__title {
  padding-bottom: 24px;
}
.intro p {
  padding-bottom: 80px;
}
.intro__img {
  padding-top: 120px;
}

@media (min-width: 768px) {
  .intro {
    padding-top: 140px;
    padding-bottom: 100px;
    background-image: url(../img/into-bg-tb.png);
    background-position-y: 95px;
  }
}
@media (min-width: 1152px) {
  .intro {
    padding-bottom: 140px;
    background-image: url(../img/into-bg-11521.png);
    background-size: contain;
    background-position-y: 176px;
    background-position-x: 0px;
    text-align: start;
  }
  .intro__wrapper {
    display: flex;
    align-items: center;
  }
  .intro__descr {
    width: 45%;
  }
  .intro__img {
    padding-top: 0;
    width: 55%;
  }
}
@media (min-width: 1400px) {
  .intro {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/into-bg-1400.png);
    background-position-y: 170px;
    background-position-x: 0px;
  }
  .intro__descr {
    width: 49%;
  }
  .intro__img {
    width: 51%;
  }
}
@media (min-width: 1920px) {
  .intro {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url(../img/into-bg-1920.png);
    background-position-y: 245px;
    background-position-x: 16px;
  }
  .intro__descr {
    width: 46%;
    padding-top: 94px;
  }
  .intro__img {
    width: 54%;
  }
}
.management {
  background-image: url(../img/managment-bg-mb.png);
  background-repeat: no-repeat;
  background-position-y: 39px;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
.management__title {
  padding-bottom: 24px;
  background-image: url(../img/managment-line-mb.png);
  background-repeat: no-repeat;
  background-position-y: 69px;
  background-position-x: 38px;
}
.management p {
  padding-bottom: 80px;
}
.management__img {
  padding-top: 120px;
}

@media (min-width: 768px) {
  .management {
    padding-top: 100px;
    background-image: url(../img/managment-bg-tb.png);
    background-position-y: 32px;
    background-position-x: -2px;
  }
  .management__title {
    background-image: url(../img/managment-line-tb.png);
    background-position-y: 44px;
    background-position-x: 306px;
  }
  .management p {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 1152px) {
  .management {
    padding-top: 140px;
    text-align: start;
    background-image: url(../img/managment-bg-1152.png);
    background-position-y: 62px;
    background-position-x: 0px;
  }
  .management__wrapper {
    display: flex;
    align-items: center;
  }
  .management__desc {
    width: 45%;
  }
  .management__title {
    background-image: url(../img/managment-line-1152.png);
    background-position-y: 140px;
    background-position-x: 180px;
  }
  .management__img {
    padding-top: 0;
    width: 55%;
  }
  .management p {
    padding-right: 50px;
    padding-left: 0;
  }
}
@media (min-width: 1400px) {
  .management {
    background-image: url(../img/managment-bg-1400.png);
    background-position-y: 5px;
  }
  .management__title {
    padding-top: 19px;
    background-image: url(../img/managment-line-1400.png);
    background-position-y: 168px;
    background-position-x: 0px;
  }
  .management p {
    padding-right: 20px;
  }
}
@media (min-width: 1920px) {
  .management {
    background-image: url(../img/managment-bg-1920.png);
    background-position-y: 214px;
    background-position-x: 15px;
  }
  .management__title {
    padding-top: 19px;
    background-image: url(../img/managment-line-1920.png);
    background-position-y: 134px;
  }
  .management p {
    padding-right: 0px;
  }
}
.work-tg {
  padding-bottom: 80px;
  text-align: center;
}
.work-tg__title {
  padding-bottom: 24px;
  background-image: url(../img/work-tg-line-mb.png);
  background-repeat: no-repeat;
  background-position-y: 19px;
  background-position-x: 125px;
}
.work-tg p {
  padding-bottom: 80px;
}
.work-tg__img {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .work-tg {
    padding-bottom: 100px;
  }
  .work-tg__title {
    background-image: url(../img/work-tg-line-tb.png);
    background-position-y: 51px;
    background-position-x: 333px;
  }
  .work-tg__img {
    width: 62%;
  }
}
@media (min-width: 1152px) {
  .work-tg {
    text-align: start;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
  }
  .work-tg__desc {
    width: 53%;
  }
  .work-tg__title {
    background-image: url(../img/work-tg-line-1152.png);
    background-position-y: 43px;
    background-position-x: 174px;
  }
  .work-tg p {
    padding-right: 20px;
  }
  .work-tg__img {
    width: 47%;
    padding-top: 0;
  }
}
@media (min-width: 1400px) {
  .work-tg {
    padding-bottom: 140px;
    gap: 160px;
  }
  .work-tg__desc {
    width: 57%;
  }
  .work-tg__img {
    width: 43%;
    padding-top: 0;
  }
  .work-tg__title {
    background-image: url(../img/work-tg-line-1400.png);
    background-position-y: 65px;
    background-position-x: 175px;
  }
  .work-tg p {
    padding-right: 75px;
  }
}
@media (min-width: 1920px) {
  .work-tg {
    gap: 100px;
  }
  .work-tg__desc {
    width: 49%;
  }
  .work-tg__img {
    width: 51%;
  }
  .work-tg__title {
    background-image: url(../img/work-tg-line-1920.png);
    background-position-y: 54px;
    background-position-x: 193px;
  }
  .work-tg p {
    padding-right: 0;
  }
}
.extension {
  background: #043873;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.extension__title {
  padding-bottom: 24px;
  background-image: url(../img/exten-line-mb.png);
  background-position-y: 50px;
  background-position-x: 127px;
  background-repeat: no-repeat;
  padding-right: 5px;
  padding-left: 5px;
}
.extension p {
  padding: 0 5px 80px;
}
.extension__img {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .extension {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .extension__title {
    background-image: url(../img/exten-line-tb.png);
    background-position-y: 45px;
    background-position-x: 419px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .extension p {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 1152px) {
  .extension {
    padding-top: 140px;
    text-align: start;
  }
  .extension__title {
    background-image: url(../img/exten-line-1152.png);
    background-position-y: 55px;
    background-position-x: 159px;
  }
  .extension__wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  .extension__desc {
    width: 52%;
  }
  .extension__img {
    padding-top: 0;
    width: 48%;
  }
}
@media (min-width: 1400px) {
  .extension__title {
    background-image: url(../img/exten-line-1400.png);
    background-position-y: 151px;
    background-position-x: 0px;
    padding-right: 15px;
  }
  .extension__desc {
    width: 45%;
  }
  .extension__img {
    padding-top: 0;
    width: 55%;
  }
}
@media (min-width: 1920px) {
  .extension__title {
    background-image: url(../img/exten-line-1920.png);
    background-position-y: 61px;
    background-position-x: 178px;
    padding-right: 0px;
  }
  .extension__desc {
    width: 50%;
  }
  .extension__img {
    padding-top: 0;
    width: 50%;
  }
}
.needs {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 120px;
}
.needs__title {
  padding-top: 60px;
  padding-bottom: 24px;
  background-image: url(../img/needs-line-mb.png);
  background-repeat: no-repeat;
  background-position-y: 110px;
  background-position-x: 120px;
}
.needs p {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .needs {
    padding-top: 140px;
    padding-bottom: 160px;
  }
  .needs__title {
    background-image: url(../img/needs-line-tb.png);
    background-position-y: 104px;
    background-position-x: 523px;
  }
}
@media (min-width: 1152px) {
  .needs {
    display: flex;
    text-align: start;
    align-items: center;
  }
  .needs__title {
    padding-top: 0;
    background-image: url(../img/needs-line-1152.png);
    background-position-y: 132px;
    background-position-x: 0px;
  }
  .needs p {
    padding-bottom: 80px;
    padding-right: 47px;
  }
}
@media (min-width: 1400px) {
  .needs__title {
    background-image: url(../img/needs-line-1400.png);
    background-position-y: 132px;
    background-position-x: 9px;
  }
  .needs p {
    padding-right: 0;
  }
  .needs__img {
    width: 50%;
  }
  .needs__desc {
    width: 50%;
    padding-left: 60px;
  }
}
@media (min-width: 1400px) {
  .needs__title {
    background-image: url(../img/needs-line-1920.png);
    background-position-y: 106px;
    background-position-x: 0px;
  }
  .needs p {
    padding-right: 0;
  }
  .needs__desc {
    padding-left: 98px;
  }
}
.price {
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}
.price__box {
  max-width: 472px;
  overflow: hidden;
}
.price__title {
  padding-bottom: 24px;
  padding-right: 5px;
  padding-left: 5px;
  background-image: url(../img/price-line-mb.png);
  background-repeat: no-repeat;
  background-position-y: 70px;
  background-position-x: 100px;
}
.price__text {
  padding-bottom: 60px;
}
.price__item-sm {
  text-align: start;
  margin-top: 63px;
  margin-bottom: 63px;
  border: 1px solid #FFE492;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
}
.price__item-sm-value {
  display: block;
  font-size: 36px;
  line-height: 1.22em;
  font-weight: 700;
  letter-spacing: -0.72px;
  color: #212529;
  padding-top: 25px;
  padding-bottom: 25px;
}
.price__item-sm-text {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.32px;
}
.price__item-sm-list {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.32px;
  color: #212529;
  padding-top: 25px;
}
.price__item-sm-wrapper {
  margin-bottom: 40px;
}
.price__item-sm li {
  background-image: url(../img/price-icon-black.png);
  background-position-x: 0px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
.price__item-sm li:not(:last-child) {
  padding-bottom: 28px;
}
.price__item-sm li:last-child {
  padding-bottom: 41px;
}
.price__item-lg {
  text-align: start;
  background: #043873;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
}
.price__item-lg-value {
  display: block;
  font-size: 36px;
  line-height: 1.22em;
  font-weight: 700;
  letter-spacing: -0.72px;
  color: #FFE492;
  padding-top: 25px;
  padding-bottom: 25px;
}
.price__item-lg-text {
  color: #FFF;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: -0.36px;
}
.price__item-lg-list {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: -0.36px;
  color: #FFF;
  padding-top: 25px;
}
.price__item-lg-wrapper {
  margin-bottom: 40px;
}
.price__item-lg li {
  background-image: url(../img/price-icon.png);
  background-position-x: 0px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
.price__item-lg li:not(:last-child) {
  padding-bottom: 28px;
}
.price__item-lg li:last-child {
  padding-bottom: 41px;
}

@media (min-width: 768px) {
  .price__title {
    padding-bottom: 24px;
    background-image: url(../img/price-line-tb.png);
    background-position-y: 39px;
    background-position-x: 358px;
  }
  .price__item-sm {
    padding: 40px 44px;
  }
  .price__item-lg {
    padding: 80px 44px 96px;
  }
}
@media (min-width: 1152px) {
  .price__title {
    padding-bottom: 24px;
    background-image: url(../img/price-line-1152.png);
    background-position-y: 49px;
    background-position-x: 558px;
  }
  .price__item-lg-text {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
  }
  .price__item-lg-list {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    color: #FFF;
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .price__title {
    background-image: url(../img/price-line-1400.png);
    background-position-y: 57px;
    background-position-x: 677px;
  }
}
@media (min-width: 1920px) {
  .price__title {
    background-image: url(../img/price-line-1400.png);
    background-position-y: 53px;
    background-position-x: 735px;
  }
}
.work {
  background: #043873;
  padding-top: 100px;
  padding-bottom: 140px;
}
.work__title {
  padding-bottom: 24px;
  background-image: url(../img/work-line-mb.png);
  background-repeat: no-repeat;
  background-position-y: 114px;
  background-position-x: 0px;
  padding-right: 28px;
}
.work p {
  padding-bottom: 80px;
}
.work__pic {
  display: none;
}

@media (min-width: 381px) {
  .work__title {
    background-position-y: 75px;
    background-position-x: 0px;
  }
}
@media (min-width: 564px) {
  .work__title {
    background-position-y: 24px;
    background-position-x: 245px;
  }
}
@media (min-width: 768px) {
  .work {
    padding-top: 140px;
    background-image: url(../img/bg-work-tb.png);
    background-repeat: no-repeat;
  }
  .work__title {
    background-image: url(../img/work-line-tb.png);
    background-position-y: 95px;
    background-position-x: 272px;
  }
  .work__pic {
    display: block;
  }
  .work__desc {
    width: 90%;
  }
  .work__wrapper {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 870px) {
  .work__title {
    background-position-x: 0px;
  }
}
@media (min-width: 1081px) {
  .work__title {
    background-position-x: 532px;
    background-position-y: 52px;
  }
}
@media (min-width: 1152px) {
  .work {
    padding-top: 140px;
  }
  .work__title {
    background-image: url(../img/work-line-1152.png);
    background-position-y: 51px;
    background-position-x: 356px;
    padding-right: 155px;
  }
  .work__desc {
    width: 65%;
  }
  .work__pic {
    width: 35%;
  }
  .work__img {
    width: 100%;
  }
}
@media (min-width: 1295px) {
  .work__title {
    background-position-x: 0px;
    background-position-y: 52px;
  }
}
@media (min-width: 1400px) {
  .work {
    background-image: url(../img/bg-work-1400.png);
    background-position-y: -115px;
    text-align: center;
  }
  .work__title {
    background-image: url(../img/work-line-1400.png);
    background-position-y: 146px;
    background-position-x: 253px;
  }
}
@media (min-width: 1920px) {
  .work {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url(../img/bg-work-1920.png);
    background-position-y: -201px;
    background-position-x: -72px;
  }
  .work__desc {
    width: 70%;
  }
  .work__pic {
    width: 30%;
  }
  .work__title {
    background-image: url(../img/work-line-1920.png);
    background-position-y: 57px;
    background-position-x: 735px;
    padding-right: 0;
  }
}
.data {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
.data__img {
  padding-bottom: 100px;
}
.data__title {
  background-image: url(../img/data-line-mb.png);
  background-position-y: 30px;
  background-position-x: 98px;
  background-repeat: no-repeat;
  padding-bottom: 24px;
}
.data p {
  padding-bottom: 80px;
}

@media (min-width: 590px) {
  .data__title {
    background-position-y: 36px;
    background-position-x: 300px;
  }
}
@media (min-width: 768px) {
  .data {
    padding-top: 140px;
    padding-bottom: 160px;
  }
  .data__title {
    background-image: url(../img/data-line-tb.png);
    background-position-y: 36px;
    background-position-x: 320px;
  }
  .data p {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 1152px) {
  .data {
    text-align: start;
    display: flex;
    flex-direction: row-reverse;
  }
  .data__desc {
    width: 50%;
  }
  .data__img {
    width: 50%;
    padding-bottom: 0;
  }
  .data__title {
    background-image: url(../img/data-line-1152.png);
    background-position-y: 56px;
    background-position-x: 193px;
  }
}
@media (min-width: 1400px) {
  .data__title {
    background-image: url(../img/data-line-1400.png);
    background-position-y: 67px;
    background-position-x: 209px;
  }
  .data p {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 1920px) {
  .data__title {
    background-image: url(../img/data-line-1920.png);
    background-position-y: 62px;
    background-position-x: 201px;
  }
  .data__desc {
    width: 54%;
  }
  .data__img {
    width: 46%;
    padding-bottom: 0;
  }
}
.sponsors {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.sponsors__title {
  padding-bottom: 100px;
  background-image: url(../img/sponsors-line-mb.png);
  background-repeat: no-repeat;
  background-position-y: 35px;
  background-position-x: 101px;
}
.sponsors__list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

@media (min-width: 488px) {
  .sponsors__title {
    background-position-x: 194px;
  }
}
@media (min-width: 600px) {
  .sponsors__title {
    background-position-x: 241px;
  }
}
@media (min-width: 768px) {
  .sponsors {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .sponsors__title {
    background-image: url(../img/sponsors-line-tb.png);
    background-position-y: 41px;
    background-position-x: 311px;
  }
}
@media (min-width: 970px) {
  .sponsors__title {
    background-position-x: 428px;
  }
}
@media (min-width: 1152px) {
  .sponsors__list {
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }
  .sponsors__title {
    background-image: url(../img/sponsors-line-1152.png);
    background-position-y: 58px;
    background-position-x: 492px;
  }
}
@media (min-width: 1400px) {
  .sponsors__title {
    background-image: url(../img/sponsors-line-1400.png);
    background-position-y: 65px;
    background-position-x: 599px;
  }
}
@media (min-width: 1920px) {
  .sponsors__title {
    background-image: url(../img/sponsors-line-1920.png);
    background-position-y: 56px;
    background-position-x: 667px;
  }
}
.using-wp {
  background: #043873;
  background-image: url(../img/bg-using-wp-mb.png);
  background-repeat: no-repeat;
  background-position-y: -48px;
  background-position-x: 0px;
  padding-top: 140px;
  padding-bottom: 100px;
  text-align: center;
  background-size: cover;
}
.using-wp img {
  padding-bottom: 100px;
}
.using-wp__title {
  padding-bottom: 24px;
}
.using-wp p {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .using-wp {
    background-image: url(../img/bg-using-wp-tb.png);
    background-position-y: 33px;
    background-size: contain;
  }
}
@media (min-width: 1152px) {
  .using-wp {
    text-align: start;
    background-image: url(../img/bg-using-wp-1152.png);
    background-position-y: 11px;
    background-position-x: 34px;
  }
  .using-wp__wrapper {
    display: flex;
  }
  .using-wp__desc {
    margin-left: 100px;
  }
  .using-wp img {
    padding-bottom: 0;
    padding-top: 54px;
  }
}
@media (min-width: 1400px) {
  .using-wp {
    background-image: url(../img/bg-using-wp-1400.png);
    background-position-y: 12px;
    background-position-x: -21px;
  }
  .using-wp img {
    padding-top: 0;
  }
  .using-wp__title {
    padding-right: 47px;
  }
}
@media (min-width: 1920px) {
  .using-wp {
    background-image: url(../img/bg-using-wp-1920.png);
    background-position-y: 0px;
    background-position-x: 0px;
  }
}
.review {
  padding-top: 100px;
  padding-bottom: 100px;
}
.review__title {
  padding-bottom: 60px;
  text-align: center;
}
.review__item {
  border-radius: 10px;
}
.review__item-black {
  box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
}
.review__item-blue {
  box-shadow: 15px 10px 50px 0px #4F9CF9;
  background-color: #4F9CF9;
}
.review__top {
  padding: 20px;
}
.review__top-text {
  padding-top: 32px;
  padding-bottom: 40px;
}
.review__top-text-black {
  border-bottom: 1px solid #212529;
}
.review__top-text-white {
  border-bottom: 1px solid #fff;
}
.review__name {
  padding: 40px 20px 20px;
}
.review__img {
  border-radius: 95px;
}
.review__label {
  padding-top: 24px;
}
.review__label-name {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.review__label-name-black {
  color: #212529;
}
.review__label-name-blue {
  color: #043873;
}
.review__label-position {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.review__label-position-black {
  color: #212529;
}
.review__label-position-white {
  color: #fff;
}

@media (min-width: 1152px) {
  .review__top {
    padding: 60px 24px 0;
  }
  .review__name {
    padding: 60px 24px;
    display: flex;
    gap: 42px;
  }
  .review__label {
    padding-top: 0;
  }
}
.try-wp {
  text-align: center;
  background-color: #043873;
  padding-top: 100px;
  padding-bottom: 32px;
}
.try-wp__title {
  padding-bottom: 24px;
}
.try-wp__btn {
  padding-top: 60px;
  padding-bottom: 60px;
}
.try-wp a {
  text-decoration: none;
}
.try-wp__logo {
  padding-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.try-wp__logo a:hover path {
  fill: #ddd965;
}

.footer {
  text-align: center;
  background-color: #043873;
  padding-top: 140px;
  padding-bottom: 32px;
}
.footer__top {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.footer__logo {
  display: inline-block;
  background-image: url(../img/logo-white-mob.svg);
  width: 191px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 24px;
}
.footer__menu {
  list-style: none;
  padding-left: 0;
}
.footer__menu li:not(:last-child) {
  padding-bottom: 15px;
}
.footer__menu li:first-child a {
  font-weight: 700;
}
.footer__menu a {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.footer__menu li:hover {
  color: #FFE492;
}
.footer__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.56px;
  color: #fff;
  padding-bottom: 24px;
}
.footer__btn {
  padding-top: 43px;
}
.footer__list {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #2E4E73;
  align-items: center;
}
.footer__selec-lang {
  background-color: #043873;
  border: none;
}
.footer__social {
  padding-top: 20px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.footer__social a:hover path {
  fill: #ddd965;
}

@media (min-width: 768px) {
  .footer__logo {
    background-image: url(../img/logo-white.svg);
    width: 352px;
    height: 62px;
  }
  .footer__top {
    padding-bottom: 120px;
  }
  .footer__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
@media (min-width: 1152px) {
  .footer {
    text-align: start;
  }
  .footer__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 90px;
  }
  .footer__logo {
    background-position: left;
    margin-bottom: 15px;
  }
  .footer__desc {
    max-width: 240px;
  }
  .footer__list {
    border-bottom: none;
    padding-bottom: 0;
    gap: 60px;
  }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2E4E73;
    padding-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */